#button1 {
    margin-left: 9.5em;
    margin-top: 10px;
}

#label1 {
    margin-left: 9em;
    margin-top: 10px;
}

#textBox1 {
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;
    width: 93%;
    height: 200px;
}

#buttons {
    margin: 5px;
    padding: 5px;
    /*border: 1px solid black;*/
}

.numBtn {
    margin: 5px;
    border-radius: 200px;
}